# vitis

/ip/**/.apc
/ip/**/.settings
/ip/**/.cproject
/ip/**/.project
/ip/**/.vitis_hls_log_all.xml
/ip/**/solution1/*
!/ip/**/solution1/directives.tcl
!/ip/**/solution1/script.tcl
!/ip/**/solution1/solution1.aps
!/ip/**/solution1/solution1.directive


vitis_hls.log


# build
/build
/outframes